#contact  .form {
	margin: 30px;
}

#contact a{
	text-decoration: none;
}

#contact .form .title{
	display: flex;
	justify-content: center;
	align-items: center;
}

#contact .form .title img{
	width: 18px;
	height: 24px;
}

#contact .form .title h3{
	color: #00A551;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 5px;
}

input:focus {
	outline-color: #00A651;
}

textarea:focus{
	outline-color: #00A651;
}

#contact .form form{
	display: flex;
	flex-direction: column;
}

#contact .form form input{
	height: 40px;
	margin-top:30px;
	padding-left: 15px;
	border: solid 1px #e0e0e0;
}

#contact .form form textarea{
	height: 275px;
	margin-top:30px;
	padding-top: 10px;
	padding-left: 15px;
	border: solid 1px #e0e0e0;
}

#contact .form .box-button{
	margin-top: 30px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

#contact .map{
	height: 350px;
}