/****************************************************************************
////////////////////////////////////////////////////////////////////////////////
* 	Blog Default
////////////////////////////////////////////////////////////////////////////////
*****************************************************************************/
/*For Example*/
*{
	overflow-x: hidden;
}

body{
	font-size: 14px !important;
	font-family: Arial !important;
	margin: 0 auto;

}

h2{
	font-size: 25px;
}
h3{
    font-size: 18px;
}

p{
	font-size: 14px;
}

.bg-black{
	position: absolute;width: 100%;
	height:100%;
	top: 0;
	background: rgba(0,0,0,0.2);
	z-index: 5;
}
 .gradient{
    position: absolute;top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}

.box-underline-left{
  display: flex;
  justify-content: flex-start;
}
.underline{
  background-color: #00A651;
  height: 2px;
  width: 100px;
  display: block;
}

/****************************************************************************
////////////////////////////////////////////////////////////////////////////////
* 	Blog Header
////////////////////////////////////////////////////////////////////////////////
*****************************************************************************/
.fa-arrow-l-r{
    font-size: 70px;
    margin-top: 330px;
    opacity: 0;
    transition: 0.3s;
}
.mySlider:hover .fa-arrow-l-r{
    opacity: 1;
}
.item-center{
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-box;
    -webkit-box-pack: center; /* justify-content */
    -webkit-box-align: center; /* align-items */
}
/*humberger menu*/
.hamburger-menu{
    display: inline-block;
    cursor: pointer;
    float: left;
}
.box-logo-hamberger span{
	color:white;text-transform: uppercase;font-weight: bold;
}
.bar1, .bar2, .bar3 {
    width: 25px;
    height: 1px;
    background-color:white;
    margin: 5px 0;
    transition: 0.4s;
}
.change-hamburger-menu .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-3px, 3px);
}
.change-hamburger-menu .bar2 {opacity: 0;}
.change-hamburger-menu .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}
/*end hamberger menu*/
#header .container-cus{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
#header .container-cus2{
    /*padding-bottom: 5px;padding-top: 5px;*/
    background-color:#00A651;padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    height: 45px;#00A651
    display: flex;justify-content: space-between;align-items: center;
    display: -webkit-flex;-webkit-justify-content: space-between;-webkit-align-items: center;
}
#header .box-logo-hamberger{
    display: flex;justify-content: space-between;align-items: center;
    display: -webkit-flex;-webkit-justify-content: space-between;-webkit-align-items: center;
}
#header .logo{
    height: 35px;
    transition: 0.5s;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    float: left;
}
#header .logo img{
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}
.clear{clear: both;}
.ul-media-share{
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 15px;
}
.ul-media-share li{
    display: inline-block;
}
.ul-media-share li a{
    display: block;
    height: 27px;
    width: 27px;
    background-color: #F29022;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    transition: 0.3s;
    padding: 0 !important;
}
.ul-media{
    padding: 0;
    margin-top:20px;
    list-style: none;
    margin-right: 20px;
}
.ul-media li{
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    /*display: table-cell;
    vertical-align: middle;*/
    margin-left: 10px;
}
.ul-media li a{
    display: block;
    transition: 0.3s;
    padding: 0 !important;
    width: 100%;
    height: 100%;
}
.ul-media li a:hover{
    background-color: #F29022;
}
.ul-media li a img{
    margin-top:0px;
    height: auto;
    width: auto;
    max-height: 100%;
}
/*menu sidebar*/
#header nav .menu-side-bar{
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    background-color: white;
    /*background-color: #F29022;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    display:none;
}
#header nav .sidebar-head{
    background-color:#00A651;
    /*background-color: white;*/
    /*padding: 15px;*/
    height: 180px;
    width: 89%;
}
#header nav .sidebar-logo{
    /*height: 0px;*/
    /*width: 120px;*/
}
#header nav .sidebar-logo img{
    height: 100%;
}
#header nav .menu-side-bar li{
    float: left;
    width: 89%;
    border-bottom: 1px solid #e0e0e0;
}
#header nav .menu-side-bar li a{
    display: block;
    font-size: 16px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
#header nav .menu-side-bar li a:hover {
    color: #F29022;
}
/*end menu sidebar*/

/*banner*/

.banner{
	margin-top: 45px;background-color: white;
}



.banner{
	position: relative;
}
.banner .subbanner{
	position: relative;
}
.banner .subbanner img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
}

.banner .subbanner .text{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	color: white;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.banner .subbanner .text h2{
	margin: 0px;
	text-align: center;
	padding: 0 15px;
}


/*dot on banner*/
.dot-banner{
	list-style: none;
	position: absolute;
	left: 0;
	margin:0;
	padding: 0px;
	width: 100%;
	bottom: 25px;
	display: flex;
	height: auto;
	justify-content: center;
	align-items: center;}

.dot-banner li{
	display: inline-block;
    list-style: none;
    margin:2px;
}

.dot-banner li button{
	width: 10px ;
	height: 10px;
	margin:0;
	background-color: white;
	border:none;
	padding: 0px;
}

.dot-banner li.slick-active button{
	border:none ;
	background-color: green;
	width: 10px ;
	height: 10px ;
}

/****************************************************************************
////////////////////////////////////////////////////////////////////////////////
* 	Blog Content
////////////////////////////////////////////////////////////////////////////////
*****************************************************************************/


/****************************************************************************
////////////////////////////////////////////////////////////////////////////////
* 	Blog Footer
////////////////////////////////////////////////////////////////////////////////
*****************************************************************************/
.container-footer{
	background-color: white;
padding-top: 20px;
}


.container-footer h2{
	text-align: center;
	color: #00A651;
}

.container-footer .address{
		margin-top: 30px;
	padding: 0 30px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.container-footer .address img{
	width: 35px;
	height: 35px;
}
.container-footer .address .text{

	display: flex;
	flex-direction: column;
	margin-left: 30px;
}
.container-footer .address .text p{
	margin: 0px;
	line-height: 20px;
}

.footer-bottom{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;

}

.footer-bottom p{
		font-size: 12px !important;
		margin: 0px;
		padding-top: 10px;
}
/*quick-link*/

#footer .partner{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#footer .partner .item{

}

#footer .partner .item img{
    width: 90px;
    height: 90px;
    margin:5px;
    border:solid 1px black;
}

.dot-footer{
    list-style: none;
    position: absolute;
    left: 0;
    z-index: 10;
    margin:0;
    padding: 0px;
    width: 100%;
    bottom: 25px;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;}

.dot-footer li{
    display: inline-block;
    list-style: none;
    margin:2px;
}

.dot-footer li button{
    width: 10px ;
    height: 10px;
    margin:0;
    background-color: white;
    border:solid 1px black;
    padding: 0px;
}

.dot-footer li.slick-active button{
    border:none ;
    background-color: green;
    width: 10px !important;
    height: 10px  !important;
}